*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: #f9f9f9;
}

.header{
  width: 100%;
  background-color: #009688;
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top:0
}

.header h1{
  padding: 20px 50px;
}
.header .right{
  padding: 0 50px;
}

.inputHeader{
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
}
.header .right button{
  background-color: rgb(255, 255, 255);
  transition: .2s;
  cursor: pointer;
}
.header .right button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a{
  text-decoration: none;
  color: #fff;
}

/**/
.content{
  width: 1100px;
  margin: auto;
  margin-top: 100px;
  overflow-y: auto;
  height: 400px;
}

.content::-webkit-scrollbar{
  width: 0px;
}
/*manala anle scroll teo*/

/* footer */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #fff;
}

footer p{
  padding: 20px;
}
/* end footer */

/*table*/
table {
  border-collapse: collapse;
  width: 100%;
}

.headingTable{
  background-color: #111;
  color: #fff;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2}

.boutonModifier,.boutonSupprimer{
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: #008CBA;
  color: #fff;
  transition-duration: 0.4s;
}

.boutonModifier:hover,.boutonSupprimer:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 30px;
}

.boutonSupprimer{
  background-color: orange;
}
/*end table*/

/* bouton ajout */
.ajouterExpert{
  width: 120px;
  position: fixed;
  bottom: 80px;
  right: 0px;
}
.ajouterExpert .btnAjout{
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #0cc5b3;
  color: #fff;
  font-size: 18px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.10);
  transition: .5s;
}
.ajouterExpert .btnAjout:hover{
  background-color: #009688;
}
/* end bouton ajout */


/*modal*/
.modal, .modalModif{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  z-index: 1;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
  animation: fadeinModal .5s;
}

@keyframes fadeinModal {
  from {
    top: 600px;
  }
  to {
    top: 0px;
  }
}

.error-txt{
  background-color: orange;
  padding: 10px;
  text-align: center;
  color: #fff;
  display: none;
  margin-bottom: 20px;
}

.contentModal{
  width: 300px;
  margin: auto;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}

.headerModal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.headerModal , .bodyModal{
  border-bottom: 1px solid rgb(240, 232, 232);
  margin: 20px 0;
  padding-bottom: 10px;
}

.bodyModal .input input{
  border : 1px solid rgb(196, 183, 183);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  outline: none;
}

#ajouterExpert, #modifierExpert{
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #009688;
  color: #fff;
  outline: none;
}

.headerModal span{
  font-size: 2em;
  position: relative;
  top: -40px;
  color: #c0a4a4;
  left: 10px;
  cursor: pointer;
  transition: .3s;
}
.headerModal span:hover{
  color: #111;
}
  /*end modal*/


  /*message*/
#snackbar {
  visibility: hidden;
  width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  z-index: 1; 
  position: fixed;
  bottom: 100px;
  left: 50%;
  opacity: 0.8;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/*end message*/


@media screen and (max-width: 740px) {
  .header h1{
    padding: 10px;
    font-size: 1.6em;
  }
  .header .right{
    padding: 10px;
  }

  .header{
    align-items: center;
    justify-content: center;
  }
  
  .conteneur{
    display: block;
  }
  .conteneur .boite{
    margin: auto;
    margin-bottom: 20px;
  }

  footer p{
    padding: 30px;
  }
}